apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - sa.yaml
  - deployment.yaml
commonLabels:
  app: velocity
configMapGenerator:
- literals:
  - NATS_URL=nats://nats:4222
  name: velocity-config
